[2022-09-13 15:23] muhammadSaqib7860 commented on #1362
I have facing the same issue , any solution.

[2022-09-13 16:24] JaffaKetchup commented on #1362
Thanks for the heads up! We'll look into this.

[2022-09-14 08:18] muhammadSaqib7860 commented on #1362
Kindly resolve it asap, I have a deadline so need to finish it asap.

[2022-09-14 08:33] ibrierley commented on #1362
If you're desperate, revert to < 3.0.0 assuming thats ok

[2022-09-14 14:39] JaffaKetchup commented on #1362
@muhammadSaqib7860

Many of us maintainers have jobs as well or things to do other than this, so please be patient!

In the meantime, please send a minimal reproducible example and a screen recording of it. This will allow us to verify this issue and assign it high priority.

[2022-09-15 05:49] muhammadSaqib7860 commented on #1362
Container(
              width: double.infinity,
              height: double.infinity,
              child: FlutterMap(
                mapController: mapController,
                options: MapOptions(
                  bounds: LatLngBounds(
                      latLng.LatLng(
                        52.874385,
                        5.773051,
                      ),
                      lat

[2022-09-15 05:58] muhammadSaqib7860 commented on #1362
@JaffaKetchup if I move to the old version then Marker did not appear on the leaflet map. that's why I'm stuck.

[2022-09-15 06:02] JaffaKetchup commented on #1362
Sorry, but I didn't understand that last comment.

Can you try the example given by the author of this issue in the PR body and check whether that works for you? In future, that's a minimal reproducible example - it has no external dependencies and is short.

Please give us time to look into this, we appreciate you have a deadline to meet.

[2022-09-15 07:23] tijee commented on #1362
Edit: looks like it is because of the MarkerLayer, so the code to reproduce would be:

[code]

[2022-09-15 08:29] stx commented on #1362
Yeah, this bug was introduced as part of the 3.0.0 refactor. I reported it a few times in the Discord. Setting bounds removes interactivity.

Unfortunately calculating your own zoom and center (like through controller.getZoomCenter) isn't possible until the map loads, so there is an ugly frame flicker. Bounds needs to work the way it did previously; there's simply no other way to get the map to lo

[2022-09-15 08:32] ibrierley commented on #1362
I suspect fitBounds or similar is run every build now, rather than initState (just loosely trying to guess how it runs). Need to double check, and it may be a case of removing this..Bounds has always been a bit annoying and probably should get renamed one day, to initialBounds or something.

[2022-09-15 08:37] stx commented on #1362
Yeah, initialBounds is good.

[2022-09-17 11:21] Pepslee opened #1363 "[FEATURE]"
### What do you want implemented?

Camera scrolling acceleration and inertia like in GoogleMap.
When I want to scroll map to a large distance it scrolls with const speed.
Is it possible to realize mechanism of scroll acceleration relative to swipe power ?

### What other alternatives are available?

_No response_

### Can you provide any other information?

_No response_

### Platforms Affected

A

[2022-09-17 11:58] Pepslee opened #1364 "[FEATURE]"
### What do you want implemented?

Preload tiles around the bounds to prevent gray tiles appearing when panning

### What other alternatives are available?

_No response_

### Can you provide any other information?

_No response_

### Platforms Affected

Android

### Severity

Minimum: Not required for my use

### Requirements

- [X] I agree to follow this project's [Code of Conduct](https://githu

[2022-09-17 13:47] JaffaKetchup commented on #1364
Duplicate of #1337.

[2022-09-17 13:47] #1364 closed

[2022-09-17 13:54] #1346 closed

[2022-09-17 14:10] #1203 closed

[2022-09-18 05:27] hamsaco commented on #1058
Hey. Is there any other link for a dark map? (google map)

[2022-09-18 06:51] JaffaKetchup commented on #1058
Sorry @hamsaco, I don't know. I found some properties from a mixture of digging online and trial and error, but I wouldn't even know where to start to find that sort of thing.

[2022-09-18 06:54] JaffaKetchup commented on #1299
Has this issue resolved itself since Flutter v3.3.0 and flutter_map v3?
I know Flutter is working toward a new rendering engine Impeller, and we've switched around the way getting images works.

[2022-09-18 06:56] JaffaKetchup commented on #1338
Hi there @KKStudios, and sorry for the delay.
I think someone else wanted infinitely panning maps, but that's quite a low priority. Can you send some pictures of how the splitting technique looks?

[2022-09-18 06:57] JaffaKetchup commented on #1235
@victor0726 Any luck with v3?

[2022-09-20 06:09] JaffaKetchup commented on #1362
Marked as high-priority.

[2022-09-20 08:48] ibrierley commented on #1362
It would be useful if anyone having the bounds limiting drag issue could test https://github.com/fleaflet/flutter_map/pull/1369

[2022-09-20 11:10] hardikJoshi123 commented on #354
Facing same problem. @garrrettt Did you managed to implement this? Thanks!

[2022-09-20 18:41] JosefWN commented on #1358
I might be able to take a look in the coming month, a bit tight on time right now!

[2022-09-20 21:28] typexy opened #1370 "[BUG] fitting bounds throws Infinity or NaN toInt or does not fit map correctly"
### What is the bug?

when fitbounds is called, we have to distinguish 2 cases:

1. multiple points are given -> zoom level is not calculated correctly, it shows whole map
2. one point is given -> Unsupported operation: Infinity or NaN toInt -> is thrown at following function:

/// Create new [CustomPoint] whose [x] and [y] values are rounded down
  /// to int
  CustomPoint<T> floor() {
    return

[2022-09-20 21:42] TesteurManiak commented on #1370
Might be a side effect of PR https://github.com/fleaflet/flutter_map/pull/1357

[2022-09-21 06:28] ibrierley commented on #1370
You could just add a check not to call fitBounds if you don't actually have any bounds....but ideally yes, there could be a protection /default behaviour in there (or simply do nothing).

I also note you are using center, bounds and maxBounds all together, which are potentially contradictory. You'd probably have to show example markers to really see the other issue when there are more than one mar

[2022-09-21 08:58] rorystephenson commented on #958
@Y0ngg4n and @TheLastGimbus I'm not sure where you ended up with these performance issues but I just wanted to let you know that I've been working on a [new clustering layer](https://pub.dev/packages/flutter_map_supercluster) which is, at least in my testing, very fast. I'm currently working with around 10,000 points and they are reasonably clustered so I'd be curious to know how this performs for

[2022-09-21 14:21] MBjoern commented on #737
Was this 'noWrap' feature ever implemented? I'm also looking for it as I can't have the map to repeat.
Thanks for any updates on this

[2022-09-21 14:40] FabianTerhorst commented on #1370
I noticed the same issue after upgrading to 3.0

[2022-09-21 14:56] ibrierley commented on #737
I don't think it ever was, but could you do something like this...

[code]

in MapOptions
[code]

The key being overriding wrapLng.

There may well be a better way than this, and I'm not sure if this is correct or not (not so familiar with the crs stuff), but it may help lead to a more elegant solution.

[2022-09-21 14:58] ibrierley commented on #1370
Can you provide some example settings (with latlngs etc) to reproduce the problem.

[2022-09-21 15:00] ibrierley commented on #1370
i.e a minimal test example page that people can run that is.

[2022-09-21 16:13] aytunch commented on #958
@rorystephenson thanks for this plugin.

For my usecase, dynamic widget markers are a must. So I hope the performance is good even without custom paint.

[2022-09-21 16:50] rorystephenson commented on #958
Let me know how it goes! If it's still not performing well I'd be happy to try to figure out why.

[2022-09-22 06:51] TheLastGimbus commented on #958
Yesss, that's what https://github.com/KanarekApp/flutter_map_fast_markers/ are for. We didn't migrate the library for new version *yet*, but once we do we'll let know how it performs!

[2022-09-22 07:34] MBjoern commented on #737
Thanks a lot!!!

I was just thinking about digging into the Crs part, as I've also seen the `wrapLng` and `wrapLat` parameters.

I highly appreciate the starting point you've provided and will keep you posted if I find anything useful.

[2022-09-22 17:33] J3thr0-6 opened #1371 "Smooth Moving Marker"
Hello guys,
Currently We are able to move the markers in the map with calling setState when required. Markers are moving fine from point to another and so on.
Timer interval is one second and then markers' position are updated with new position.
The movement is there but its not smooth (its kind of jerky) as we wanted.

Is there any way that we can smooth out the movement of marker from one point

[2022-09-22 19:47] Zzerr0r commented on #1371
You're trying to move a marker over the map smoothly by changings it's position once every second?

[2022-09-22 20:02] JaffaKetchup commented on #1371
Have a look into [`TweenAnimationBuilder`](https://api.flutter.dev/flutter/widgets/TweenAnimationBuilder-class.html). Then have two tweens, one for latitude, one for longitude. The video on the page I linked should help you figure it out.
This is probably out of scope for now, but thanks for the suggestion! If you need more help, please ask on the Discord server.

[2022-09-22 20:02] #1371 closed

[2022-09-22 20:11] JaffaKetchup commented on #1360
@JosefWN I know you're busy at the moment so don't worry to much, but can you try @TesteurManiak's suggestion when you get a moment. Thanks.

[2022-09-22 20:12] JaffaKetchup commented on #1111
I haven't had a chance to look into this yet, I've been really busy. If anyone else wants to take a look, please do! As I said, it may be easier now with v3.

[2022-09-22 20:15] JaffaKetchup commented on #1299
Ok, I'm going to close this for now due to inactivity. If you need this reopened, please just let me know. Thanks for the info!

[2022-09-22 20:15] #1299 closed

[2022-09-22 20:17] JaffaKetchup commented on #1347
(preventing staleness from setting in)

Thanks, we'll have a look at this when we get a moment.

[2022-09-23 04:07] J3thr0-6 commented on #1371
Yes,
Actually Multiple markers

[2022-09-23 04:09] J3thr0-6 commented on #1371
Okay thanks

[2022-09-23 13:17] JosefWN commented on #1263
I have forked @ibrierley's `flyTo` and included rotation which I needed. It's relatively straight-forward to extend the `MapControllerImpl` creating an `AnimatedMapController`, although it requires https://github.com/fleaflet/flutter_map/pull/1357 to function.

Perhaps we could change the _Animated MapController_ example to utilize this? It's better than what we have and wouldn't require any chang

[2022-09-23 13:26] JaffaKetchup commented on #1263
@JosefWN If you get a spare moment, we'd love to have this as a plugin :)

[2022-09-23 13:33] LostInDarkMath commented on #1263
Thank you very much @JosefWN!

I'd like to naively ask again why this can't end up directly in the library?

[2022-09-23 13:35] JaffaKetchup commented on #1263
Fair point @LostInDarkMath. @ibrierley What do you think? My default response to feature implementations is now plugins, if they are easy-ish to do that way, but something as simple as this might fit in well.

[2022-09-23 13:36] JosefWN commented on #1263
I could do it if @ibrierley doesn't have time, although he wrote 99% of the code, so it would be more fair to attribute it to him, even though it's a port.

[2022-09-23 13:38] #1362 closed

[2022-09-23 13:39] TesteurManiak commented on #1263
I'd say that it is because it's not the primary role of this package to manage map animations. By adding this piece of code into the main package it becomes the responsibility of the maintainers to maintain this code up-to-date and fix the issues it might have in the future, which means more work and hence more time to invest.

[2022-09-23 13:44] JaffaKetchup commented on #1263
Maybe someone can make a plugin `flutter_map_animations`? This could include animated `MapController`s, animated `Marker`s, etc.
But yeah, for now I think it is better to stick to only the most basic animations (such as tile fade in) in this repo.

In the meantime until we make a decision, I'm happy to add this snippet to the docs as a better manual method of implementing an animated `MapControlle

[2022-09-23 14:01] ibrierley commented on #1263
I'm 50/50 on this, which is partly why I never did either :D. I don't really have time to work on that really atm (but would try and help out if there were bugs), so happy for @JosefWN or anyone else to do a plugin or integrate.

My main issue was I didn't want chunks of code in the core that only one person knew for maintenance reasons. If someone else adapts and tests, then at least there's 2 :D

[2022-09-23 14:31] JosefWN commented on #1263
Yeah, it's also not idiomatic/intuitive to "manually" animate from a Dart/Flutter perspective, and the code is pretty complex/mathematical. Then again I suspect that over time this piece of code will remain fairly static once thoroughly tested.

Maybe starting out as a plugin and then potentially graduating to inclusion in FM could be a good approach? Looking at other libraries like Mapbox it's an

[2022-09-23 14:33] #1360 closed

[2022-09-23 14:49] ibrierley commented on #1263
A plugin maybe a good way to 1) get it out there and tested for bugs :), 2) get some others familiar with it, so that if ever needed it's not so alien.

Just out of interest, looking at the original leaflet code, there is also flyToBounds...

[code]
Maybe that could be easy to incorporate as well with the code above, using ```_state.getBoundsCenterZoom(bounds, options)```  calling flyTo as an extr

[2022-09-23 15:18] JosefWN commented on #1354
I have tested a bit more throughly and updated the list in my initial post.

I have also looked around online and found that although there is a JavaScript touch API [supporting multitouch](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events/Multi-touch_interaction), it seems that more complex gestures have scarce support on the web, especially the twist gesture for rotations. Support

[2022-09-23 16:54] aytunch commented on #1263
I totally agree with @ibrierley on this statement.

Every time `flutter_map` is upgraded to use newer dependencies, we need to open new issues in flutter map plugin repos and wait for them to catch up. For niche plugins this is the only way, but "flying" is more of a functionality than a plugin imho.

[2022-09-23 16:56] aytunch commented on #1263
@JosefWN about your concern on the animation curve

Why don't we expose the curve parameter and let the devs choose it according to their like?

[2022-09-23 17:00] JaffaKetchup commented on #1263
Yeah, that's a good point. For something as small as this, the extra work needed to keep it updated with flutter_map as a plugin probably will be unsustainable.
I think if we do merge this into the project, it needs to have very good in-code comments so that it's clear what it all does for future maintainers that may not be familiar.

[2022-09-23 17:34] ibrierley commented on #1263
Who needs in code comments when you have https://www.win.tue.nl/~vanwijk/zoompan.pdf#page=5

/me runs off

[2022-09-23 17:57] JosefWN commented on #1263
Good point! Swapped the `easeOut` function for a `Curve` in my example above.

[2022-09-23 19:32] SecretUnicorn opened #1373 "[BUG] when onPositionChanged is called because of controller.move the position is before the move"
### What is the bug?

When moving via controller.move() the onPositionChanged position attribute does not hold the correct bounds. The southwest and northeast corner are the same. When slightly moving the map again after the move the bounds are correct.

### What is the expected behaviour?

The position attribute of the controller should hold the correct bounds

### How can we reproduce this issue

[2022-09-24 18:22] stx opened #1375 "[BUG] Using bounds creates map flicker"
### What is the bug?

The bounds fix at https://github.com/fleaflet/flutter_map/commit/678a8abcc9afce68b87f50fba8a16f61afa5e7e5 for https://github.com/fleaflet/flutter_map/issues/1362 allows the bounds to function correctly now, but now there is a frame flicker that looks quite bad on the web or when using map marker clustering via https://pub.dev/packages/flutter_map_marker_cluster.

The issue is

[2022-09-24 18:22] stx commented on #1362
@ibrierley @JaffaKetchup This fix makes the bounds function correctly but creates a visual issue. Filed at https://github.com/fleaflet/flutter_map/issues/1375.

[2022-09-24 22:03] ibrierley commented on #1375
Darn I suspect this one is going to be a bit of a pain, as it may be a timing issue. The problem is, it doesn't work if its not in the callback, and I don't experience the issue.

Could you paste a minimal example you are using (without a plugin). I don't experience the problem on web, so will find it hard to know if it's definitely fixed.

[2022-09-24 22:31] ibrierley commented on #1375
I suspect this may end up being a problem we've seen before, where an initial draw doesn't know it's size on first frame (for bound calculations), and it can depend upon timing if anyone wants a look (not sure I'll have a lot of time to dig properly just atm). I may be wrong though, as some of that code has probably changed.

[2022-09-24 23:50] stx commented on #1375
Looking at the old method of doing this, it was doing it on the build method in LayoutBuilder after the constraints weren't 0 and it was working correctly without this interactivity locking bug.

It looks like the widget with the LayoutBuilder is being rebuilt constantly now which is what caused the locking bug because the camera kept repositioning.

One strategy could be to try it in the LayoutBu

[2022-09-25 08:44] Wackymax commented on #1370
Getting the same problem, worked correctly before upgrading too 3.0.0. The provided example above should work too reproduce the issue if just passing the bounds and boundOptions.

[2022-09-25 08:59] Wackymax commented on #1370
Seems like this should be fixed with https://github.com/fleaflet/flutter_map/pull/1369

[2022-09-25 09:03] ibrierley commented on #1375
I don't think that would quite work, as it would be calling a move (from fitBounds) within a build.

However, what if we git rid of of the initState move/fitBounds stuff, and also _pixelbounds/_bounds/_pixelOrigin outside of the layoutBuilder, moved them inside and also did a bounds check, so something like...

initState method
[code]
build method
[code]

I don't experience the problem, so it's ha

[2022-09-26 01:27] zery6 commented on #1338
Hi there @KKStudios,
I have the same problem,
Can you show your solution code?
Thx!

[2022-09-26 20:33] KKStudios commented on #1338
@JaffaKetchup

Here is how a workaround would look like splitting the path into two..

If you ask me, looks pretty crappy, that's why I won't implement that right now.

![180_crossing](https://user-images.githubusercontent.com/77431217/192373962-b46c50d1-f782-46bb-bb72-0be0e43591b2.png)

But probably would make a lot of work for the project to change to some kind of infinite scrolling map.

Cheers

[2022-09-26 20:36] JaffaKetchup commented on #1338
@KKStudios
Yeah, I can see that's less than desirable. There has been some talk on reworking the tile layer mechanics, and infinite functionality may be a part of this; but for now, it's unlikely we'll implement it.
(Anyone else reading and wants to submit a PR, please do!)

Thanks for your insight :)

[2022-09-26 20:38] KKStudios commented on #1338
@zery6
Would be to much code to post right now since it's all integrated in my project and using internal utilities...
But basically you just calculate where the great circle between two points crosse 180E/W.

Then you do polylines between that point and your departure/ destination point. Thats it.

Formula for calc can be found here: https://edwilliams.org/avform147.htm
Very neat comprehension.

[2022-09-26 20:41] KKStudios commented on #1338
@JaffaKetchup
Ok no problem. Maybe I'll have a look into it if modifying the project and digging into the codebase is worth the effort or implementing a scrolling map from scratch with only the required functionality is less work.

Just not my no1 priority right now.

Thanks anyhow.

[2022-09-26 22:00] ibrierley commented on #1338
If you felt brave, and wanted to have a play with a very alpha plugin, my vector slicer plugin can draw across lines across the dateline, and also repeat (but not infinite). Examples of the effect would be https://fluttermap.dabbles.info/dateline_test/#/ https://fluttermap.dabbles.info/geoslicer/#/ you should see the repeats if you zoom out (dateline crossing in first example, repeated none dateli

[2022-09-27 03:48] loveoverflowdev commented on #532
How do you handle that animation if dragging map ?

[2022-09-27 04:28] ianthetechie commented on #1354
Just came here to confirm that the pinch rotate (and to a much lesser extent zoom as well) behavior feels pretty unnatural on Mac. If anyone can point me to the relevant code, I'd be happy to take a look. I'm actually a bit new to Flutter dev, but have over 10 years of experience building macOS and iOS apps so I'd be happy to be a sounding board and contribute code or otherwise.

[2022-09-27 06:15] JaffaKetchup commented on #1354
Hi @ianthetechie. I can't point you to the code right now, but all help is appreciated! If you go into the `FlutterMap` state, I think there's a gesture arena inside, and it's quite a complicated bit of code.

[2022-09-27 06:53] ianthetechie commented on #1354
@JaffaKetchup I fired up a good ol debug session and have a vague idea of what's up now... It looks like you're essentially using the Flutter stdlib scale gesture recognizer (small miracle this exists in essentially pure dart... that's on MASSIVE hunk of code!) and just taking the gesture rotation value from the events it generates, so this actually might be an upstream issue. I have a feeling nob

[2022-09-27 07:07] JaffaKetchup commented on #1354
Bug thanks @ianthetechie :). Yeah, I'm not familiar with the gesture code, and you seem to be much more comfortable with it.

I know we use positioned_tap_detector (maybe v2), maybe that's part of the problem? Not sure to be honest. But if you found for rotation that we're just using values from somewhere else and not modifying them in any way, that would certainly indicate an issue on their part.

[2022-09-27 13:55] ianthetechie commented on #1354
No worries. I've come up with an [MRE](https://github.com/ianthetechie/flutter_macos_scale_mre) demonstrating the issue using nothing but a super vanilla Flutter app and standard components, so the positioned tap detector isn't likely an issue here.

I opened a discussion on the Flutter official discord. Unless someone tells me I'm stupid / "holding it wrong" I'll update you guys here once it's tr

[2022-09-27 15:22] ianthetechie commented on #1354
Acknowledged by a Flutter dev, who just opened a PR: https://github.com/flutter/engine/pull/36444. What a quick turnaround :D

[2022-09-27 15:26] JaffaKetchup commented on #1354
Hooray! Indeed a quick turnaround :)

[2022-09-28 22:00] brentlintner commented on #1354
Side note here:

We ran into this regression ourselves (lack of momentum). To get the previous behaviour back (for anyone reading this) just revert flutter_map to v.2.2.0 and Flutter v3.0.5, which seems to work.

Thanks for looking into this btw!! 👏 ❤️

[2022-10-03 03:53] ayavn commented on #1085
Hi,
I got this error on version 3.0.0
Can someone help me ?

[2022-10-03 06:12] ibrierley commented on #1085
You need to provide more info/code etc.

[2022-10-03 20:54] MooNag commented on #1336
Hi,

I would like to post some of my own experience here with displaying a lot of Tiles. My app will typically display 48 tiles per view port, and has animation of about 2-5 frames per second. So about 250 tiles per second.

 I use a custom image provider that caches image data (will post code below). I have found that even on high end devices, the image decoding process is a huge bottleneck when

[2022-10-04 13:53] ibrierley commented on #385
Have you tried the solutions above ?

[2022-10-04 13:59] iulian0512 commented on #385
i guess you meant workarounds, answer is no.

[2022-10-05 14:48] TitanKing commented on #1370
I encountered the same issue.

[2022-10-05 14:53] ibrierley commented on #1370
Does it work with the fix (i.e latest Github release)?

[2022-10-05 19:45] yash-ahir commented on #385
Hello, I changed around some things on line 44 of https://github.com/ibrierley/geojson_vector_slicer/blob/main/lib/geojson/geojson.dart by @ibrierley to work with LatLng and Polygon, here's the code:

[code]

This works better than the old `LatLngBounds.fromPoints(...).contains(...)` because that method has problems with edge detection, you can test this by putting two triangle shaped polygons on

[2022-10-07 07:24] TitanKing commented on #1370
It does seem to fix the issue, however, I now noticed that when using the bounds paramater with LatLngBounds.fromPoints, it does not allow the map to be zoomed in or out. Might be another issue causing this, but it does happen my side.

[2022-10-07 08:42] ianthetechie opened #1379 "[FEATURE] Improved attribution"
### What do you want implemented?

I have a number of suggestions for how to improve attributions, and would be happy to contribute code.

* Allow multiple attribution sources. Right now it's just kinda one with a widget builder, but the helper functions could be a lot more interesting IMO.
* Make attribution collapse on small screens. This is a huge problem right now IMO. The next logical step on

[2022-10-07 19:09] JaffaKetchup commented on #1379
Hi @ianthetechie.
I originally made the attribution system, and at the time, it was just a quick thing to replace some older APIs. It definitely needs changing.
I'll look into this, and attach a PR when it's ready.
Note that this will be breaking, so I'll have to merge into ['delayed-breaking-changes'](https://github.com/fleaflet/flutter_map/tree/delayed-breaking-changes) until we're ready to rele

[2022-10-10 20:25] JaffaKetchup commented on #1379
This issue now has a discussion channel on the Discord server. To participate, please join via the link in the README: everyone is welcome :).

[2022-10-10 20:25] #1379 closed

[2022-10-10 20:27] JaffaKetchup commented on #1370
Hi @TitanKing, any news?
Hi @typexy @Wackymax, has the issue you were experiencing been fixed?

[2022-10-10 20:29] JaffaKetchup commented on #1363
@Pepslee Can you describe your issue in a bit more detail? A couple of screen recordings might help. Many thanks :)

[2022-10-10 20:31] JaffaKetchup commented on #1354
Ok, the https://github.com/flutter/engine/pull/36444 PR seems to have been merged, so it is either already available, or will be available soon. It seems like this is the root cause (please correct me if I am misunderstanding), so I will close this issue for now. Please ping me if you need it reopened!

[2022-10-10 20:34] JaffaKetchup commented on #1263
Hi there, bit of a while since this one was in conversation, and I'm trying to clean up :D. Is anything happening here?

[2022-10-10 20:35] JaffaKetchup commented on #1283
Hi @Zverik, can you try reproducing with the latest release? Many thanks!

[2022-10-10 20:36] JaffaKetchup commented on #1283
In response to this comment: https://github.com/fleaflet/flutter_map/issues/1283#issuecomment-1220824329, I'm going to close this for now. If this specifically is still an issue, please ping and I'll reopen :).

[2022-10-10 20:36] #1283 closed

[2022-10-10 20:39] JaffaKetchup commented on #1326
I'm closing this for now, as we've got a few more maintainers since this was posted. The form is still open, and we'd still love to have you on the team.

Please see above, or https://github.com/fleaflet/flutter_map/discussions/1366 for more information.

[2022-10-10 20:39] #1326 closed

[2022-10-11 04:30] ianthetechie commented on #1354
IMO there are still some follow-up tasks here. The upstream issue that was fixed (looks slated for release in 3.4) just fixes the problem with polarity being wrong, which was huge 😂 The "unnatural-ness" described (points 2-4) are still open bugs and I haven't yet had time to determine if they are issues with `flutter_map` or upstream. I would suspect several of them are in this codebase though so

[2022-10-11 05:15] Wackymax commented on #1370
The code that is currently on main has solved the problems for me.On 10 Oct 2022, at 22:27, Luka S ***@***.***> wrote:﻿
Hi @TitanKing, any news?
Hi @typexy @Wackymax, has the issue you were experiencing been fixed?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-11 06:11] JaffaKetchup commented on #1370
Thanks, in that case I'm going to close this for now. Let me know if you need it reopened!

[2022-10-11 06:11] #1370 closed

[2022-10-11 06:16] JaffaKetchup commented on #1354
Hi @ianthetechie, in this case I will reopen.

In terms of depending on the latest Flutter SDK, it should be ok? That is quite confusing in Flutter, as you've got the local Flutter versions that your machine can actually run, then every project has its own version bounds, but sometimes those are ignored. It should be ok, as 3.4 will be non breaking.

[2022-10-11 06:52] #1373 closed

[2022-10-11 08:09] iulian0512 commented on #385
sounds good, but how do you create the cells map ?

[2022-10-11 08:41] shashanka777 commented on #1280
Thanks for your reply.
________________________________
From: Ian ***@***.***>
Sent: Thursday, June 16, 2022 5:12 PM
To: fleaflet/flutter_map ***@***.***>
Cc: Shashanka R ***@***.***>; State change ***@***.***>
Subject: Re: [fleaflet/flutter_map] [BUG] ... After max zoom it was showing empty map. (Issue #1280)

Try using maxZoom 19 on the TileLayerOptions.

For the markers, the problem then is tha

[2022-10-12 06:39] sohagmahin opened #1383 "[BUG] WMS layer failed to load on flutter-map"
### What is the bug?

Getting an error, When I was trying to load the WMS layer from GeoServer. It was work since `flutter_map: ^0.14.0` .
Today, I update the flutter_map package to  `flutter_map: ^3.0.0` and it's broken. Thrown an error `Exception: Invalid image data` . And alongside I used Mapbox for styling the map, and Mapbox works great.

### What is the expected behaviour?

It should load th

[2022-10-12 06:48] ibrierley commented on #1383
Is it possible to try and debug what the full URL is thats being called, and then see if you can actually retrieve that URL in your browser.

[2022-10-12 06:54] sohagmahin commented on #1383
Yes. the URL works fine in the browser.
![Screenshot 2022-10-12 at 12 52 44 PM](https://user-images.githubusercontent.com/35423413/195271155-606db670-ca85-45cb-9ec6-c90cbdc0a5f3.png)

# flutter_dev tool (Network inspection)
![Screenshot 2022-10-12 at 12 51 09 PM](https://user-images.githubusercontent.com/35423413/195271272-5d65dd02-5202-455e-90c8-b0ec2f813eca.png)

[2022-10-12 13:02] aadi-github commented on #177
Did you find any solutions as if I use maxBound, then the map only rotates and does not pan, zoom, or move. I dont know what is the actual Problem.

[2022-10-12 13:03] aadi-github commented on #177
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 5 days.

[2022-10-12 18:02] JaffaKetchup commented on #177
Hi @aadi-github, that last comment didn't make any sense, it was just the stale message. Did you mean to write something else?

[2022-10-13 07:28] xyzbilal opened #1384 "[FEATURE] Support different OSM layers"
### What do you want implemented?

I want implement different layers like in website.
is that possiple to send layer type parameter in url  'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'

### What other alternatives are available?

in website we can add parameter like in  this link
https://www.openstreetmap.org/#map=16/41.0752/28.9340&layers=H

### Can you provide any other information?

_No

[2022-10-13 07:52] TesteurManiak commented on #1384
I don't understand your issue, nothing stops you from changing the url to adapt to your needs. As I see things you could use the following template for your url: `https://www.openstreetmap.org/#map={z}/{x}/{y}&layers=H` (Note that for the tile layer to work the url should return an image)

Could you please provide some pseudo code of what you want to do ?

[2022-10-13 08:02] xyzbilal commented on #1384
Thank you for quick answer.  sorry if I couldnt be clear.  I tried these url schemes but I get errors
such` flutter: HTTP request failed, statusCode: 400, https://b.tile.openstreetmap.org/8/150/97&layers=H ` or `flutter: Exception: Invalid image data` because of that I created this requests.

[2022-10-13 08:11] #1384 closed

[2022-10-13 08:13] ibrierley commented on #1384
Yes, I think the layer you are after is a french "hot", one, so would be "https://b.tile.openstreetmap.fr/hot/8/150/97.png" as an example. Looks like you already have a handle on that now.

[2022-10-13 08:55] aadi-github commented on #177
No, Actually the comment done by [KaYBlitZ](https://github.com/KaYBlitZ) was actually the issue I was facing. The boundaries seems to change depending on the zoom level. As I zoom in, the boundary seems to get slightly smaller, which cuts off part of the map. ex: where you used to see the name of the river, suppose on zoom level 13; Now you won't be able to see that on zoom level 18. I think this

[2022-10-13 09:18] ibrierley commented on #177
I think we'd need to see an example, maybe some code with the 2 images at different zoom levels of the edges.

[2022-10-14 14:29] aadi-github commented on #177
Ok, please look below example on zoom level 13, 14, 15.
![Screenshot_2022-10-14-19-14-11-845_me jpryan flutter_map_example](https://user-images.githubusercontent.com/89453528/195866821-31dc2d39-7731-4f36-ad11-bca340533269.jpg)
![Screenshot_2022-10-14-19-14-25-897_me jpryan flutter_map_example](https://user-images.githubusercontent.com/89453528/195866835-e03fc34a-540a-4563-9ea8-0b423a84d481.jpg)
![

[2022-10-14 15:27] ibrierley commented on #177
There's 2 separate things here (easy to get confused between them and maybe we should be clearer in the docs).

Limiting Pan from the center point (swPanBoundary/nePanBoundary), so the visible corners will change depending upon zoom.
Limiting Pan for the corners, so nothing outside the bounds are visible. This is maxBounds. It sounds a little bit more like this is what you are after, but I may be

[2022-10-17 08:34] noelex opened #1386 "[FEATURE] Better support for cartesian coordinate systems"
### What do you want implemented?

I'm currently writing an app which uses laser scanned 2D images as maps, and I would like to allow user to interact with these maps using `flutter_map`.

The problem is that these maps use cartesian coordiantes (measured in meters) instead of geographical coordinates. Although I can write a custom CRS to project map coordinates to pixels, but `LatLng` and `LatLng

[2022-10-18 11:40] aadi-github commented on #177
Ok Thankyou

[2022-10-18 15:10] sikandernoori commented on #1340
Saved the day !!!

Documentation would be great though.

[2022-10-19 15:00] Chris1234567899 opened #1387 "NetworkNoRetryImageProvider throws uncaught error if tile could not be loaded"
### What is the bug?

When using a tile layer, but a tile could not be loaded (e.g. no internet connection), an uncaught error is thrown.

`SocketException (SocketException: Failed host lookup: 'api.mapbox.com' (OS Error: No address associated with hostname, errno = 7))`

Yes, I'm aware, I can deactivate
![image](https://user-images.githubusercontent.com/12623865/196724958-5c3c08df-0af5-4d9b-8e9d-

[2022-10-19 19:32] JaffaKetchup commented on #1387
Hi @Chris1234567899,

I think it is perfectly acceptable and correct to throw an error here.
If flutter_map was to handle it, it would just have to throw it's own error. Alternatively, we could try to ignore this error: but then we might get questions from people that don't realise that they are offline, and that would be hiding an error - which is obviously not recommended.

My caching plugin has

[2022-10-20 19:09] Chris1234567899 commented on #1387
@JaffaKetchup
Thanks for your reply. Sorry but I think I have to disagree here.
On mobile phones we have often the situation that internet is not available or highly unstable, so it will happen frequently that some tiles cannot be loaded.

So in my opinion, it should be therefore the other way around: The default way should be no interruption/no uncaught error, and if some devs want to make a cust

[2022-10-20 19:32] JaffaKetchup commented on #1387
Ok, for now I'll make it a feature request: it's not broken, it would just be better off changed.

I guess we can write errors to an output stream the user can optionally listen to, that might make sense.

[2022-10-21 09:05] arsyadnimbly commented on #1383
Same issue, any update?

![image](https://user-images.githubusercontent.com/109497576/197158225-24b9b66b-2957-4b08-8c84-4baf140992e1.png)

[2022-10-21 13:36] Chris1234567899 opened #1389 "[BUG] flutter_map 3.0.0, using bounds makes map not draggable anymore"
### What is the bug?

I upgraded from flutter_map 1.1.1 to 3.0.0 and all maps where I had added bounds cannot be dragged by user interactions anymore. Not sure if this is a new "feature" or a bug, but since this was working in previous versions, I assume the latter one. Or am I missing something?

### What is the expected behaviour?

According to the docs, bounds should only set the initial view,

[2022-10-24 02:15] #1235 closed

[2022-10-24 14:45] rafaelmaia8384 commented on #264
+1 for the heatmap implementation!

[2022-10-28 14:11] Pepslee commented on #1363
Would be great if map panning velocity during swipe was relative from swipe power.
For now, even I drag fast or slow, maps panning with one const velocity. And if I need to scroll a lot of map, I need to zoom out firstly and then scroll to destination location and then zoom in. Or panning for a long time.
I will upload some video soon.

[2022-10-28 14:39] JosefWN commented on #1386
I also work in cartesian coordinates, where `flutter_map` admittedly struggles a bit. Coincidentally I've also worked with LiDAR mapping a bit, but not with `flutter_map` specifically. I would say that these are all geographical coordinates, although without an expensive INS attached to your LiDAR they will be in a local coordinate system.

I don't think a more generic `LatLng` will help much, the

[2022-10-28 15:12] JosefWN opened #1391 "[BUG] More LatLngBounds issues in polar CRS"
### What is the bug?

In line with https://github.com/fleaflet/flutter_map/issues/1347 and https://github.com/fleaflet/flutter_map/pull/1295, there are more issues with bounds for polar CRS.

In some cases `fitBounds` (and my copy `flyToBounds`) throws an error:
[code]

... and when it doesn't throw an error, it gets completely incorrect coordinates. In part, this has to do with the fact that corn

[2022-10-28 15:22] ibrierley commented on #1391
How many resolutions do you have for the crs ? It sounds a bit like there aren't enough for the available zoom levels, but I may well be talking out of my *** as my crs foo is very weak (I also thought there was a hacky fix to avoid that, so what I'm saying may well be a redherring and meaningless :D)! This is more looking at the exception rather than accuracy issues.

What version is this on ?

[2022-10-28 15:34] JosefWN commented on #1391
Using the `master` version of `flutter_map`, but also present in older versions.

I think the issue is twofold:
- One is the zoom/out of bounds issue, which is not alleviated even when I'm setting `maxZoom`. It's occurring both in the example and in my code, and I'm not encountering any other issues related to the zoom levels (if I zoom manually for example).
- The other is the centering:
[code]

[2022-10-28 16:10] ibrierley commented on #1391
Ok, so I guess the exception problem is that fitBounds doesn't have any width/height, as its just a single point, so it hits infinity, and I guess the same issue will still happen if its a very narrow range that falls outside of available the resolutions ? Maybe the Proj4Crs in crs.dart should handle that a bit more elegantly...

[2022-10-28 16:17] JosefWN commented on #1391
By default (`FitBoundsOptions`) there is a 14px or so padding on the point, so it shouldn't effectively be a single pixel, but yes, it could be too small still, if `maxZoom` is also ignored in at least parts of the code. Using `maxZoom` didn't seem to change anything when I tried last night.

Larger polylines for example also experience the out of bounds error, but I suppose that could also be bec

[2022-10-28 16:21] ibrierley commented on #1391
Just thinking out loud. I suspect this may get hit before maxZoom gets checked, as fitbounds needs to calculate the zoom (and hit the error) first I assume before it can test against maxZoom ?

But I'm a little unclear about whats desired here...if people want to focus on a point, shouldn't they be using a center and not fitBounds ?

[2022-10-28 16:27] JosefWN commented on #1391
That would complicate the code a bit, but it's also possible. I have polylines which change dynamically over time. If you have a polyline which can be 0-n points, you have to consider:
1. Zero points (do not center, since polyline is empty and `Bounds<num>?` is null)
2. One point (do not use `fitBounds`)
3. More than one point (use `fitBounds`)

If `fitBounds` works for the single point as well, i

[2022-10-28 19:11] Friendly-Banana opened #1392 "[FEATURE] new AttributionWidget without default text"
### What do you want implemented?

I would like a new constructor for `AttributionWidget` where I can control all of the text. Adding 'flutter_map | © ' makes 1.) the attribution box quite big and 2.) the different styles of text don't match nicely.
Implementation: new named constructor like `AttributionWidget.customText` that doesn't add 'flutter_map | © '

### What other alternatives are availab

[2022-10-28 20:24] JaffaKetchup commented on #1392
Hi @Friendly-Banana,
You can construct a custom `AttributionWidget` by using it alone, without `AttributionWidget.defaultWidget`. See the screenshot:
![image](https://user-images.githubusercontent.com/58115698/198725849-5d93667f-9b18-40f3-b63a-360b002a9fa8.png)

Thanks for the issue!

[2022-10-28 20:24] #1392 closed

[2022-10-28 20:39] JaffaKetchup commented on #1386
@JosefWN Good description of the situation, thanks :)

We are always happy to see new PRs, but as you said yourself, this would probably 'pollute' this project quite a bit; we are trying to keep things simple here for now.

Just as a current example, take #1390. However great it might end up being (and is right now) (we are still discussing over on Discord), if it grows too big or starts to do too

[2022-10-28 20:52] TesteurManiak commented on #1386
Well, I'm not objective for this kind of thing as I've always used `LatLng` on the different projects I've been working on and never felt the need to use cartesian coordinates. Like @JaffaKetchup said I feel like this is a niche use-case.
I think that if a feature only answers very specific needs then it might be better off as a separated plugin. If the current flutter_map public API is not enough

[2022-10-28 21:24] ibrierley commented on #1386
I was trying to figure if CRS.simple could be used (or extended) in some ways...has anyone tried this (my suspicion would be something like a bounds/LL issue would get in the way like the original post mentioned, but it could be interesting to see if theres a way there...).

It may be helpful to have a specific example people can look at and ponder.

[2022-10-28 21:34] MooNag commented on #1386
We could look at creating an extension for LatLng that allows working with meters or a constructor for latlng that takes meters. I am not super familiar with multiple CRS. Or this might be something you can do in your own project using either of these methods?

[2022-10-28 21:45] JosefWN commented on #1386
Not sure how that would work without every `LatLng` also holding a reference to the CRS, which feels messy. I also think it would be confusing to work with elliptical coordinates as if they were planar and vice versa?

[2022-10-29 08:16] ibrierley commented on #1386
I suspect those with more experience on CRS side will need to expand a little more of give specific examples of things that don't work.

I.e my understanding is that a custom crs basically has projection/unprojection and transformations. So with the original post, what is the issue with having a custom crs that is essentially CRS.simple, but with a transformation that scales by a factor of say 100

[2022-10-31 01:43] AndreiMisiukevich commented on #1389
@Chris1234567899 I faced the same issue and worked around it

[code]

[2022-10-31 02:07] gpsim opened #1394 "[FEATURE]"
### What do you want implemented?

Hello, I tried to achieve Baidu layer tiles, but always render out of order.

http://online1.map.bdimg.com/onlinelabel/?qt=tile&x={x}&y={y}&z={z}&styles=pl&scaler=1&p=1

### What other alternatives are available?

I tried to modify the proj4 property with the following code.

import 'package:flutter/material.dart';
import 'package:flutter_map/plugin_api.dart';
im

[2022-10-31 02:26] AndreiMisiukevich opened #1395 "[BUG] MacOS: Cannot scroll with trackpad inside scrollable if `InteractiveFlag.drag` enabled"
### What is the bug?

If I put FlutterMap inside ScrollView (e.g. SingleChildScrollView with a Column of several elements) I cannot scroll the scroll view with the trackpad if the mouse pointer is hovering over the map.

I added ```enableScrollWheel: false,``` but it didn't help (Honestly, I see any difference with or without this property)
I found, that this happens only if ```interactiveFlags```

[2022-10-31 07:41] ibrierley commented on #1394
What happens if you try -y and not y in your template url.. ?

[2022-10-31 09:30] gpsim commented on #1394
In this way, an error will be reported directly, and the layer resource cannot be requested

[2022-10-31 09:58] gpsim commented on #1394
I see that the web side uses the proj4 and proj4leaflet.js plug-ins to call this layer. I don't know the flutter_ Does the map support proj4leaflet.js

[2022-11-01 02:57] JosefWN commented on #1391
You are right, I found I only get out of bounds issues with singular bounds. Perhaps supporting singular bounds would make the API more confusing, I don't know. I don't feel very strongly about it.

In my fork I have now removed the `LatLngBounds` and just use `Bounds` for `flyToBounds` and it fits the bounds correctly (when I don't use singular bounds).

[2022-11-01 06:24] JosefWN commented on #1342
I have fixed this in my fork. My code looks slightly different, but it's a quick fix anyway.

In `getBoundsZoom`:
1. Use `nonrotatedSize`, the size of the viewport itself (which is our reference for fitting) is not affected by rotation.
2. Instead, rotate the bounding box we are fitting the viewport to, just as we do with the viewport in `_updateSizeByOriginalSizeAndRotation`.

[2022-11-01 07:28] ibrierley commented on #1391
I have some vague thoughts around it, just not had time really lately. I.e in the crs code we have..
[code]

what about if we had before the interpolate, something like...(code not tested/checked, just as a theory)
```if(downZoom > _scales.length) { return _scales.last.toDouble(); }```

What would happen here...it feels reasonable if we have a set limit of resolutions, not to go over them, but ret

[2022-11-01 13:22] ARASHz4 opened #1396 "[FEATURE] Prevent rotation alongside pinch zoom gestures"
_Edit from maintainer: This was originally a bug report, but is more of a feature request/enhancement than a bug, as explained by https://github.com/fleaflet/flutter_map/issues/1396#issuecomment-1302687850._

### What is the bug?

When zooming in phone with two fingers rotate happening

### What is the expected behaviour?

When zooming don't rotate map

### How can we reproduce this issue?

_No re

[2022-11-01 13:26] ibrierley commented on #1396
Try InteractiveFlag.all & ~InteractiveFlag.rotate in your mapoptions

[2022-11-01 21:15] JaffaKetchup commented on #1395
Hi @AndreiMisiukevich!
Unfortunately, I think MacOS gesture handling has been undergoing some changes in Flutter recently. Maybe similar/related to #1354?

[2022-11-01 21:17] JaffaKetchup commented on #1394
Hmm, maybe this is an issue in [proj4dart](https://github.com/maRci002/proj4dart) then? Have no idea, but there is not JavaScript dependency here!

[2022-11-01 21:18] JaffaKetchup commented on #1389
Duplicate of #1362, which has been fixed by #1369. Please await release (join the Discord server for notifications), or use the main branch for now. Thanks for the issue!

[2022-11-01 21:18] #1389 closed

[2022-11-01 21:19] AndreiMisiukevich commented on #1395
Thanks for your response.
Maybe by chance, you know how to work around it? I need somehow make FlutterMap ignore wheel scroll gestures.
Also, if I don't pass `InteractiveFlag.drag` it works fine as well

[2022-11-01 21:21] JaffaKetchup commented on #1383
Hi @sohagmahin & @arsyadnimbly.
Unfortunately, this will be a Flutter issue AFAIK, as images are handled by them in the end - we do have a custom image provider, but it all leads back to Flutter. I'm assuming that the image is a little corrupted/malformed/wrong format - see [this Flutter docs page](https://api.flutter.dev/flutter/widgets/Image-class.html#:~:text=The%20following%20image%20formats%2

[2022-11-01 21:23] JaffaKetchup commented on #1383
Just reread the original issue. It is a little strange that this worked previously: that would suggest an issue with our/my image provider implementation. I'm not sure why it would not support certain formats, but that might be it. I'll leave this open for now, and investigate when I get time. Thanks for the report!

[2022-11-01 21:25] JaffaKetchup commented on #1395
Unfortunately not. Slightly strange that disabling `enableScrollWheel` doesn't work, and not quite sure what you mean by...

What does works fine mean?

[2022-11-01 22:08] AndreiMisiukevich commented on #1395
In this case, I cannot drag the map.

I mean, that I can scroll by trackpad in this case, but dragging does not work.

So, if dragging is disabled, then I can scroll by trackpad, but if it's enabled, then I can't

[2022-11-01 22:26] JaffaKetchup commented on #1395
Hmm, that is quite strange. I'm not sure what we can do, but I'll leave this open for now :)

[2022-11-02 10:34] cwhitby opened #1397 "[FEATURE] Fallback to higher/lower zoom level if unable to load tile"
### What do you want implemented?

I'm using this in conjunction with [flutter_map_tile_caching](https://pub.dev/packages/flutter_map_tile_caching).

Currently, if I'm offline and have an area at zoom level 9 cached and I zoom in or out, the entire map disappears as the tiles at those zoom levels are unable to load. I would like to be able to continue to show scaled tiles from a higher or lower zo

[2022-11-02 10:45] ibrierley commented on #1397
I think this makes sense. I guess one question is whether "best effort" to retrieve tile is good enough, or it has to be 100% reliable. I.e options
1) Store the tiles manually and have control (not sure if this would work on web?).
2) Kind of assume any previously downloaded tile will be in the devices cache and it tries to load that ?
3) Others

(Is there a generic way to test if a file is in nor

[2022-11-02 15:35] JaffaKetchup commented on #1397
I wonder if similar code can be reused from `maxNativeZoom` somehow?

[2022-11-02 15:58] ibrierley commented on #1397
I'm not sure that would work ideally if we have useful tiles below or above the current zoom level (unless there was a max and min based on previous loads, but then those loads are going to be partial loads, so feels a bit fraught with potential issues ?

One thing I did with an old bit of vector code was try and simplify the tile code and address that issue, original at https://github.com/ibrierl

[2022-11-02 21:36] JaffaKetchup commented on #1397
Sure, part of a larger tile rewrite sounds good. The `maxNativeZoom` was just a reference because it already does the same effect - even though it's for a very different use-case.
Just to note to readers, this is unlikely to happy soon, although we do discuss privately to some extent.

[2022-11-03 06:54] ARASHz4 commented on #1396
Its work but i can't rotate any more
i want disable rotate only when in pinch zooming

[2022-11-03 21:33] JaffaKetchup commented on #1396
The issue is differentiating between a zoom and a rotation. Pinch zooms almost always have a natural rotation factor (due to the tiny amount of movement of users' fingers), so this is quite difficult.

Maybe one of the 'threshold's or 'win factor's inside `MapOptions` could help you. See https://pub.dev/documentation/flutter_map/latest/flutter_map/MapOptions-class.html.

[2022-11-03 21:39] JaffaKetchup commented on #1383
@sohagmahin @arsyadnimbly
As a temporary fix, can you please try following [this guide to make your own `TileProvider`](https://docs.fleaflet.dev/plugins/making-a-plugin/creating-new-tile-providers), and using a standard `NetworkImage` instead of a custom image provider. If you can do this, please let me know how it goes, it would be a great help :)

[2022-11-04 04:34] sohagmahin commented on #1383
Thanks for your temporary fix. I will try and let you know.

[2022-11-04 07:12] JosefWN commented on #1336
@MooNag cool! How did the caching in RAM affect overall memory consumption? Did you notice an improvement with the new load buffers?

Increasing your tile size might help reduce the number of requests (per-request overhead), especially on retina displays I think the recommended tile size is 512x512px rather than 256x256, at least according to Mapbox.

[2022-11-05 10:38] tomquas opened #1400 "[BUG] fluttermap, visibility, late initialization error"
### What is the bug?

if i put a Visibility child with access to the map controller in FlutterMap like this:

[code]

i get the following error:

[code]

### What is the expected behaviour?

i'd expect the mapController to be fully initialized when building the views.

### How can we reproduce this issue?

[code]

### Do you have a potential solution?

_No response_

### Can you provide any other

[2022-11-05 12:10] AliEasy opened #1401 "Set a Key for every Polygon"
### What do you want implemented?

Hi
I need to add a `Key` to each polygon to manage them, sth like `key: Key('p-$polygonId')` for `Marker`

Thanks in advance

### What other alternatives are available?

_No response_

### Can you provide any other information?

_No response_

### Platforms Affected

Android, iOS

### Severity

Obtrusive: No workarounds are available, and this is essential to me

[2022-11-05 12:41] ibrierley commented on #1401
I think this would make sense for those layers with lists (polyline, polygon etc). Pull requests welcome!

[2022-11-06 14:09] #1401 closed

[2022-11-09 10:31] tomquas commented on #1400
fwiw, while using existing Visibility would be my preferred solution, a working workaround seems to be to use the plugin api:
[code]

[2022-11-09 14:22] cwhitby commented on #1397
Okay, glad to see this is at least on the roadmap for the future.

What's the possibility of some kind of workaround in the meantime? The app I'm working on has the majority of its users on horrendously slow satellite internet in the middle of the ocean and having the screen go completely blank while waiting for more tiles to download is a pretty significant issue for them.

[2022-11-10 06:54] SalsabeelaHasan commented on #1337
Hello ! any updates?

[2022-11-10 07:14] JaffaKetchup commented on #1263
@JosefWN Can you make a PR for your animation functions if you've got a moment?

[2022-11-10 07:17] JaffaKetchup commented on #1337
Not yet, we will wait on a greater rewrite first.

[2022-11-10 07:37] SalsabeelaHasan commented on #1337
All the best.
if there is clear timeline, it would be great. thank you!

[2022-11-10 08:07] JaffaKetchup commented on #1337
Unfortunately no timeline at the moment. We maintain this in our spare time, and at the moment, we are quite busy.

If your business/employer is waiting for this, it may help to offer a bounty to @MooNag (probably best to contact him via Discord), as he was the one originally suggesting the rewrite - but I'm not him so I can't say. Of course, absolutely 0 requirement/pressure to do this (we are op

[2022-11-10 08:53] ibrierley commented on #1337
it shouldn't be too fiddly I would have thought if someone needs it to have a bash and do a PR. Pass in a param for number of extra tiles in each direction. Then subtract this from the min extent of the tile range, and add to the max in both x,y directions. Eg around line 605 of [
](https://github.com/fleaflet/flutter_map/blob/master/lib/src/layer/tile_layer/tile_layer.dart)
[code]
Add a test that

[2022-11-10 15:45] JaffaKetchup commented on #1337
@ibrierley I've tried this before and it didn't work - can't remember why though. Maybe I was just trying to do it externally through a tile provider.

[2022-11-10 16:25] MooNag commented on #1400
I think using the plug in API is the cleanest solution. You can also use visibility and backstage widgets there too.

If you dislike having an extra custom widget you can probably use a builder and grab the map state like in the plug in which should work too.

[2022-11-10 17:08] ibrierley commented on #1337
Ok, I'm away atm, but will see if I can get time to take a peek when back if no one else wants a bash before that.

[2022-11-10 20:29] JaffaKetchup commented on #1400
As @MooNag suggested, I'm not surprised this doesn't work. As far as I know, the `MapController` is initialised after all children have built themselves, so it won't be available during build - although a bit of a weird exception if that was the case.
For now, we probably won't change this, as the method you already found is quite simple and makes sense. And as @MooNag also said, you may just be a

[2022-11-10 20:29] #1400 closed

[2022-11-11 09:45] JosefWN commented on #1354
Can we disable the stale bot perhaps? Seems like more trouble than help...

[2022-11-11 10:14] tomquas commented on #1400
thanks for the hints. my final take on this:
[code]

example:
[code]

[2022-11-11 18:42] JaffaKetchup commented on #1354
@JosefWN We can I think, but it helps to keep me on top of things when waiting for responses etc.

[2022-11-11 18:42] JaffaKetchup commented on #1354
It would probably be better to add an exception tag so the bot skips certain issues. I'll think about implementing that.

[2022-11-13 00:33] SalsabeelaHasan commented on #1337
Thank you all, waiting for your improvements.

[2022-11-14 09:38] jozes commented on #508
### Fast and dirty GeoJson parser for flutter_map

For those who need a quick solution which could be easily customised regarding colours, labels, here is the code:

1. It parses points, lineStrings, MultiLineStrings, Polygons, MultiPolygons. For Polygons and MultiPolygons it parses also **the polygon holes**.
2. The code is about 10 times faster than using geojson package.

[code]

Use cases:

Lo

[2022-11-15 11:41] desmeit opened #1406 "Is the max zoom just 18.0?"
### What is the bug?

I cannot zoom more than 18.0. If I take 19.0 I get a grey page.

### What is the expected behaviour?

I want to zoom for example to 25.0

### How can we reproduce this issue?

_No response_

### Do you have a potential solution?

_No response_

### Can you provide any other information?

_No response_

### Platforms Affected

Android, iOS

### Severity

Obtrusive: Prevents no

[2022-11-15 11:47] ibrierley commented on #1406
The problem is more likely that your tile provider doesn't provide tiles at that level. Which tile provider are you using ?

[2022-11-15 11:48] desmeit commented on #1406
I tried with Thunderforest.

[2022-11-15 11:55] ibrierley commented on #1406
Well, you can try setting maxZoom higher, Thunderforest can go higher (it may depend on your account, not sure). Have you set your maxZoom in your TileLayer ?

[2022-11-15 13:18] TesteurManiak commented on #1406
It's because you are using a styling for a vectorial map, on MapTiler you need to use rasterized tiles.

[2022-11-15 20:14] JaffaKetchup commented on #508
Hey @jozes, that looks great!
We're happy to add a plugin to the docs if you want to make that into a plugin!

[2022-11-15 20:24] #1406 closed

[2022-11-15 21:23] ibrierley commented on #1397
Have been thinking about this a bit more, it's a bit unclear really.

The leaflet plugin mentioned earlier relies on an error, which is if the tile is unavailable due to a max tile zoom issue (probably, but not only), not a network error. If that plugin has no network connection, it won't work, as it can't try a lower zoom tile to load (it will also come up with a 404). So as @JaffaKetchup says ma

[2022-11-16 10:43] cwhitby commented on #1397
Happy to help clarify.

I'm not suggesting that the library should progressivly make more and more requests looking for a working tile. I'm suggesting that we only show the tiles we already have.

This doesn't seem to be the case. If I load the app normally, the tile at the current zoom download and display. If I then disable the network and zoom in, the tiles immediatly disappear rather than scal

[2022-11-16 11:09] ibrierley commented on #1397
When you say "zoom in", do you mean manually with a panzoom, or with a mapController.move and zooming several different levels different to the current one ?

If you run the example Animated MapController and toggle between Paris and London, you should see it scaled. If in chrome you turn off the internet, you should see it still work "to a certain amount". I think there are limits though, of 5 le

[2022-11-16 13:01] ibrierley commented on #1397
That was just to highlight it working when there is a connection to show it scaling (and it does that for me)..

However when I look at manual other cases, it does look a bit like it's not quite doing what I thought (I think Chrome may be keeping some images I cached earlier so maybe getting a different experience).

[2022-11-16 14:02] ibrierley commented on #1397
Digging a bit more, I think there's a quirk in the code around image errors, so we need to ponder what's best as I didn't write the original code, so may be misunderstanding a bit the intention... in https://github.com/fleaflet/flutter_map/blob/master/lib/src/layer/tile_layer/tile_layer.dart

Currently if a tile gets an error (eg a 404), we actually set the tile to "active". I think the idea here

[2022-11-16 15:32] cwhitby commented on #1397
So I've had a play around with what you suggested above and the results are pretty good. Manually zooming in and out produces nicely scaled tiles.

Since we combine our implementation with the tile caching library the pruning issue is minimised. Zooming in and out fetches tiles from the cache without issue, but the panning does require a change in zoom before a tile is loaded as you say.

[2022-11-16 16:52] ibrierley commented on #1397
Thanks for the feedback.

I guess we could make it optional, "fallbackToScaledTileIfError" (bit of a mouthful, but feels like you know what it should aim to do) or something...I'm not entirely happy with it doesn't feel very concrete, but it feels like an option that could be desired and implented further as well...

Happy to hear others opinions on all of this. We've been considering a bit of a r

[2022-11-17 07:36] arsyadnimbly commented on #1085
Hi guys, any update on this issue? I'm using version 3.0.0

[2022-11-17 07:38] JaffaKetchup commented on #1085
@arsyadnimbly We're going to need more information. I suggest you open a new issue.

[2022-11-17 07:38] ibrierley commented on #1085
Not really an update, its normally incorrect settings with your maxZoom being higher than available tiles. What settings do you have for your tile layer  with maxZoom/maxNativeZoom and what tileURL ?

[2022-11-19 15:06] RegalFenster opened #1407 "[BUG] Transparency not applicable"
### What is the bug?

Hi,
for some reason, I'm unable to set the transparency of the wms tile layer.
There is a similar issue: https://github.com/fleaflet/flutter_map/issues/1281
But changing the backgroundColor to transparent didn't resolve the problem.

### What is the expected behaviour?

Layer should be transparent

### How can we reproduce this issue?

[code]

### Do you have a potential solu

[2022-11-19 16:11] ibrierley commented on #1407
I guess the first obvious question is, what's the yellow stuff? :). Are you sure the WMS tile isn't just providing that from the server ?

[2022-11-19 16:50] RegalFenster commented on #1407
It looks like this, when zoomed out:
![image](https://user-images.githubusercontent.com/48275164/202862201-c35b1f35-7185-4602-b3a4-dac96c6bbfec.png)

[2022-11-19 16:51] RegalFenster commented on #1407
I updated the issue

[2022-11-19 17:27] ibrierley commented on #1407
So, I may be being dumb here, but as the whole weather world/layer is full of colour, why would transparent work, there's no transparency there ?

[2022-11-19 18:07] JaffaKetchup commented on #1407
Hi @RegalFenster, I think you might be getting confused. My mistake if I'm misunderstanding you!

`backgroundColor` sets the color behind any transparent areas of the map (of which there aren't any on this map). If you're trying to set the opacity of the entire layer, perhaps to overlay it on top of another layer, set the `opacity` property instead.

_(Not sure if you're trying to do this or not,

[2022-11-19 22:40] RegalFenster commented on #1407
I was confused indeed. Changing the opacity is what I actually wanted. Thanks a lot!

[2022-11-19 22:44] #1407 closed

[2022-11-21 03:02] rs-linhlc commented on #1396
Same problem. At the moment I have to disable rotate completely. Hope team can implement this feature soon.

[2022-11-22 10:57] jozes commented on #508
Hi @JaffaKetchup!
I accepted your challenge :-) I am preparing a package which will contain the GeoJson parser. According to Flutter docs it looks like a package is the right form as the plugin should be used for using platform-specific APIs.
Besides pure parsing of GeoJson the user will be able to completely customise the creation of the point (marker), polyline and polygon objects by coding cust

[2022-11-22 13:58] JosefWN commented on #1394
I think our `templateFunction` needs to be a little smarter for this to work in the "standard" way, like @ibrierley suggested:

https://wiki.openstreetmap.org/wiki/TMS

Right now, from what I can see, we don't this into account when we build the tile URL from the template. On the other hand, if Baidu is using TMS tiles, there _seems_ to be some sort of inversion of `y` going on in `_getTileUrl`. S

[2022-11-22 14:30] JosefWN commented on #1386
Other than the bugs I have reported relating to planar projections (such as polar stereographic projection), I think my main gripe is the API's are only intended for `LatLng` rather than `CustomPoint`, which my whole app is built around. Working in `LatLng` is not really feasible since I use projection-specific math quite extensively, so I would have to continuously unproject and reproject a numbe

[2022-11-22 14:38] ibrierley commented on #1394
Typically all things being equal I think it makes sense to match up with what Leaflet.js does as much as possible.

[2022-11-22 15:04] MrLongg71 opened #1409 "[BUG] how to set selected color marker"
### What is the bug?

I think it very stupid marker, it don't markerId?

i need to set marker selected with item Id.

<img width="681" alt="Screen Shot 2022-11-22 at 10 03 43 PM" src="https://user-images.githubusercontent.com/41661101/203348125-06300987-d8c0-495b-b3d3-d684e3a2a9da.png">

### What is the expected behaviour?

set color selected

### How can we reproduce this issue?

_No response_

#

[2022-11-22 15:35] JosefWN commented on #1394
Fair enough, they seem to be using the `tms` flag for their tile layers.

@gpsim if you can clean up your example so it's easier to use it, it would also be easier for us to test. The formatting is all over the place and it looks like it contains some dead code as well.

[2022-11-22 16:00] ibrierley commented on #1394
(have tidied it up a bit, see if that helps)

[2022-11-22 18:54] JaffaKetchup commented on #508
Great @jozes, looking forward to it!

You are correct, it only needs to be a package, but we call them 'plugins' here because they add functionality to 'flutter_map'. So Flutter plugins are not the same as what we call plugins.

[2022-11-24 03:48] rs-huypq commented on #1396
@ARASHz4
Try this, it might solve your problem
[code]

[2022-11-24 03:55] rs-anhnq2 commented on #1396
work like magic! =))

[2022-11-24 06:58] JaffaKetchup commented on #1396
Thanks @rs-huypq.

[2022-11-24 06:59] #1396 closed

[2022-11-24 17:28] vierzwei commented on #508
@jozes This is just the solution I am looking for. I am just now integrating your suggested code. So, if you need any beta testing or other support, pls contact me.

[2022-11-24 22:57] jozes commented on #508
Hi @vierzwei !
I am posting here the latest version of the GeoJsonParser which I intend to publish at pub.dev. Unfortunately right now I will not be able to complete the work as planned as I have to do some urgent work until Christmas.

Therefore I am publishing the parser and also the demo example.

Here is the parser class:
[code]

Here is the code for example. You just need to include the parse

[2022-11-28 10:41] ibrierley commented on #1387
Not quite sure from that if you want to fix the problem, or just suppress the error ?

[2022-11-28 10:45] betaWeb commented on #1387
Both, but I don't think the connectivity issue comes from flutter_map, so at least supress the error could be nice tho. It's on an iOS device (iPhone 13 pro max).

[2022-11-30 23:10] aytunch commented on #1337
@ibrierley @JaffaKetchup Hi friends, long time no see :)
Can this preloading also be used in this use-case:
Assume that before the `FlutterMap` is created and rendered, we know which center latlng and zoom level to display.
And when the first frame of the map is rendered, we will see the map tiles immediately without waiting for them from the network.
So maybe the `MapController` object can do the